VMM/Workflows/n8n_email_06_log_activity.json
{
  "name": "VMM Email - Log Activity",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vmm-email-log-activity",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-5360, 1024],
      "id": "a1b2c3d4-e5f6-7890-aaaa-000000000001",
      "name": "LogAct Webhook",
      "webhookId": "vmm-email-log-activity"
    },
    {
      "parameters": {
        "jsCode": "const b   = $input.first().json.body || {};\nconst esc = v => (v || '').toString().replace(/'/g, \"''\");\n\nconst complaintNo     = esc(b.complaintNo || b.complaintId || '').trim();\nconst remarks         = esc(b.remarks || '');\nconst newStatus       = esc(b.newStatus || '');\nconst newEdc          = esc(b.newEdc || '');\nconst escalationLevel = esc(b.escalationLevel || '');\nconst reasonForDelay  = esc(b.reasonForDelay || '');\nconst uid             = parseInt(b.uid || 1);\n\nif (!complaintNo) return [{ json: { error: 'complaintNo required' } }];\n\n// Also fetch current status so we can preserve it on plain updates\nconst sqlFind = `SELECT c.id, COALESCE(cl.status, 'Open') AS current_status FROM vmm_complaints c LEFT JOIN vmm_complaintlogs cl ON cl.id = (SELECT MAX(id) FROM vmm_complaintlogs WHERE complaintid = c.id) WHERE c.complaintno = '${complaintNo}' AND c.is_deleted = 'No' LIMIT 1`;\n\nreturn [{ json: { sqlFind, complaintNo, remarks, newStatus, newEdc, escalationLevel, reasonForDelay, uid } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5136, 1024],
      "id": "a1b2c3d4-e5f6-7890-aaaa-000000000002",
      "name": "LogAct Prepare"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sqlFind }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-4912, 1024],
      "id": "a1b2c3d4-e5f6-7890-aaaa-000000000003",
      "name": "LogAct Find",
      "credentials": { "mySql": { "id": "VS3fKdoPCMa1Ik21", "name": "MySQL account" } }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('LogAct Prepare').first().json;\nconst row  = $input.first()?.json;\n\nif (!row || !row.id) {\n  return [{ json: { found: false, message: `Complaint ${prev.complaintNo} not found`, insertLog: 'SELECT 1', updateSql: 'SELECT 1' } }];\n}\n\nconst cid = row.id;\nconst esc = v => (v || '').toString().replace(/'/g, \"''\");\n\n// Preserve current DB status on plain updates; override for escalate/close\nconst statusToLog = prev.newStatus || row.current_status || 'Open';\nconst logRemarks  = prev.remarks || 'Update received';\n\nconst insertLog = `INSERT INTO vmm_complaintlogs (complaintid, remarks, status, uid, created, is_deleted) VALUES (${cid}, '${esc(logRemarks)}', '${esc(statusToLog)}', ${prev.uid}, NOW(), 'No')`;\n\n// Build UPDATE for EDC / escalation level on vmm_vendorescalations\nlet updateSql = 'SELECT 1';\nif (prev.newEdc || prev.escalationLevel) {\n  const setParts = [];\n  if (prev.newEdc)          setParts.push(`closuredate = '${esc(prev.newEdc)}'`);\n  if (prev.escalationLevel) setParts.push(`escalationlevel = '${esc(prev.escalationLevel)}'`);\n  // MySQL requires subquery alias to UPDATE from same table\n  updateSql = `UPDATE vmm_vendorescalations SET ${setParts.join(', ')} WHERE id = (SELECT max_id FROM (SELECT MAX(id) AS max_id FROM vmm_vendorescalations WHERE complaintid = ${cid}) t)`;\n}\n\nreturn [{ json: { found: true, cid, complaintNo: prev.complaintNo, insertLog, updateSql, statusToLog } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4688, 1024],
      "id": "a1b2c3d4-e5f6-7890-aaaa-000000000004",
      "name": "LogAct Build SQL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.insertLog }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-4464, 1024],
      "id": "a1b2c3d4-e5f6-7890-aaaa-000000000005",
      "name": "LogAct Insert Log",
      "credentials": { "mySql": { "id": "VS3fKdoPCMa1Ik21", "name": "MySQL account" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('LogAct Build SQL').first().json.updateSql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-4240, 1024],
      "id": "a1b2c3d4-e5f6-7890-aaaa-000000000006",
      "name": "LogAct Update",
      "credentials": { "mySql": { "id": "VS3fKdoPCMa1Ik21", "name": "MySQL account" } }
    },
    {
      "parameters": {
        "jsCode": "const d = $('LogAct Build SQL').first().json;\nreturn [{ json: { success: d.found, found: d.found, complaintNo: d.complaintNo, status: d.statusToLog, message: d.found ? 'Activity logged successfully' : d.message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4016, 1024],
      "id": "a1b2c3d4-e5f6-7890-aaaa-000000000007",
      "name": "LogAct Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-3792, 1024],
      "id": "a1b2c3d4-e5f6-7890-aaaa-000000000008",
      "name": "LogAct Respond"
    }
  ],
  "connections": {
    "LogAct Webhook":        { "main": [[{ "node": "LogAct Prepare",        "type": "main", "index": 0 }]] },
    "LogAct Prepare":        { "main": [[{ "node": "LogAct Find",           "type": "main", "index": 0 }]] },
    "LogAct Find":           { "main": [[{ "node": "LogAct Build SQL",      "type": "main", "index": 0 }]] },
    "LogAct Build SQL":      { "main": [[{ "node": "LogAct Insert Log",     "type": "main", "index": 0 }]] },
    "LogAct Insert Log":     { "main": [[{ "node": "LogAct Update",         "type": "main", "index": 0 }]] },
    "LogAct Update":         { "main": [[{ "node": "LogAct Build Response", "type": "main", "index": 0 }]] },
    "LogAct Build Response": { "main": [[{ "node": "LogAct Respond",        "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9fad0dcada8947f02e42f7bc73ab7aefa92368c9ea1c4bf120cfada06c5c72c"
  }
}
