VMM/Workflows/n8n_sp_00_store_lookup.json
{
  "name": "VMM SP - Store Lookup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "vmm-sp-store",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 352],
      "id": "b2c3d4e5-0000-0000-0000-000000000001",
      "name": "Webhook - GET /vmm-sp-store",
      "webhookId": "vmm-sp-store"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uzfGESr8kpQ_JKgkSOww2s3WxsH8y1U-YMvM8is31yE",
          "mode": "list",
          "cachedResultName": "VMM Master Data"
        },
        "sheetName": {
          "__rl": true,
          "value": "Employees",
          "mode": "list",
          "cachedResultName": "Employees"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 352],
      "id": "b2c3d4e5-0000-0000-0000-000000000002",
      "name": "Get Employees Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ltEEeRayxtB2S0lJ",
          "name": "Inder"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const query = $('Webhook - GET /vmm-sp-store').first().json.query || {};\nconst code  = (query.code || '').toString().trim().toUpperCase();\n\n// Build a store object from one or more Employees rows for that store.\n// E-mail = SM / store email. FM Email = Facility Manager email.\nconst buildStore = (rows) => {\n  const first = rows[0].json;\n  // Prefer the active SM's E-mail; fall back to the first available row.\n  const smRow = rows.find(r =>\n    (r.json['Status'] || '').toLowerCase() === 'active' &&\n    (r.json['E-mail'] || '').trim()\n  ) || rows[0];\n\n  return {\n    code:        (first['Store Code']   || '').toString().trim(),\n    name:        (first['Store Name']   || '').toString().trim(),\n    email:       (smRow.json['E-mail']  || '').toString().trim(),\n    smEmail:     (smRow.json['E-mail']  || '').toString().trim(),\n    fmEmail:     (first['FM Email']     || '').toString().trim(),\n    fmName:      (first['FM Name']      || '').toString().trim(),\n    managerName: (first['Manager Name'] || '').toString().trim(),\n    asmName:     (first['ASM name']     || '').toString().trim(),\n    city:        (first['City']         || '').toString().trim(),\n    region:      (first['Region']       || '').toString().trim(),\n    state:       (first['State']        || '').toString().trim(),\n    zone:        (first['Zone']         || '').toString().trim(),\n  };\n};\n\nconst all = $input.all().filter(item => (item.json['Store Code'] || '').toString().trim());\n\n// ── Single store lookup ──────────────────────────────────────────────\nif (code) {\n  const rows = all.filter(item =>\n    (item.json['Store Code'] || '').toString().trim().toUpperCase() === code\n  );\n  if (!rows.length) {\n    return [{ json: { found: false, code, message: 'Store code not found' } }];\n  }\n  return [{ json: { found: true, store: buildStore(rows) } }];\n}\n\n// ── All active stores (deduplicated by store code) ───────────────────\nconst storeMap = {};\nfor (const item of all) {\n  const sc = (item.json['Store Code'] || '').toString().trim().toUpperCase();\n  if (!sc) continue;\n  if (!storeMap[sc]) storeMap[sc] = [];\n  storeMap[sc].push(item);\n}\n\nconst stores = Object.values(storeMap).map(buildStore);\nreturn [{ json: { found: true, stores, count: stores.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 352],
      "id": "b2c3d4e5-0000-0000-0000-000000000003",
      "name": "Filter & Map Store"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 352],
      "id": "b2c3d4e5-0000-0000-0000-000000000004",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook - GET /vmm-sp-store": {
      "main": [[{ "node": "Get Employees Sheet", "type": "main", "index": 0 }]]
    },
    "Get Employees Sheet": {
      "main": [[{ "node": "Filter & Map Store", "type": "main", "index": 0 }]]
    },
    "Filter & Map Store": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8442590b0e55dbd54e355747c7c925a75dfcef3563273e7cbd717163cbe23470"
  }
}
