VMM/Workflows/n8n_ntr_03_list.json
{
  "name": "VMM NTR — List Requests (self-hosted)",
  "nodes": [
    {
      "parameters": {
        "path": "vmm-ntr-list",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [160, 300],
      "id": "ntr03-node-0001",
      "name": "Webhook — GET /vmm-ntr-list",
      "webhookId": "vmm-ntr-list"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.id, r.store_code, r.store_name, r.request_date, r.received_date, r.email_from, r.email_subject, r.status, r.total_items, r.escalated_at, r.escalated_to, r.created_at FROM vmm_ntr_requests r ORDER BY r.created_at DESC LIMIT 200",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [380, 300],
      "id": "ntr03-node-0002",
      "name": "Query Requests",
      "credentials": { "mySql": { "id": "VS3fKdoPCMa1Ik21", "name": "MySQL account" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { success: true, count: rows.length, requests: rows } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "id": "ntr03-node-0003",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [820, 300],
      "id": "ntr03-node-0004",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook — GET /vmm-ntr-list": { "main": [[{ "node": "Query Requests",   "type": "main", "index": 0 }]] },
    "Query Requests":              { "main": [[{ "node": "Format Response",   "type": "main", "index": 0 }]] },
    "Format Response":             { "main": [[{ "node": "Respond",           "type": "main", "index": 0 }]] }
  },
  "meta": { "templateCredsSetupCompleted": false,
    "instanceId": "8442590b0e55dbd54e355747c7c925a75dfcef3563273e7cbd717163cbe23470" }
}
