VMM/Workflows/n8n_sp_03_nature_of_complaints.json
{
  "name": "VMM SP — Nature of Complaints",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "vmm-sp-natures",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 352],
      "id": "b2c3d4e5-0003-0003-0003-000000000001",
      "name": "Webhook — GET /vmm-sp-natures",
      "webhookId": "vmm-sp-natures"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uzfGESr8kpQ_JKgkSOww2s3WxsH8y1U-YMvM8is31yE",
          "mode": "list",
          "cachedResultName": "VMM Master Data"
        },
        "sheetName": {
          "__rl": true,
          "value": "Nature of complaint",
          "mode": "list",
          "cachedResultName": "Nature of complaint"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 352],
      "id": "b2c3d4e5-0003-0003-0003-000000000002",
      "name": "Get Natures Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ltEEeRayxtB2S0lJ",
          "name": "Inder"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\n\nconst natures = all.map(item => ({\n  nature:  item.json['Nature of Problem'] || '',\n  type:    item.json['Type of Complaint'] || '',\n  tatDays: parseInt(item.json['TAT (Days)'] || '0', 10),\n})).filter(n => n.nature !== '');\n\nreturn [{\n  json: {\n    success: true,\n    count: natures.length,\n    natures\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 352],
      "id": "b2c3d4e5-0003-0003-0003-000000000003",
      "name": "Map Natures"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 352],
      "id": "b2c3d4e5-0003-0003-0003-000000000004",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook — GET /vmm-sp-natures": {
      "main": [[{ "node": "Get Natures Sheet", "type": "main", "index": 0 }]]
    },
    "Get Natures Sheet": {
      "main": [[{ "node": "Map Natures", "type": "main", "index": 0 }]]
    },
    "Map Natures": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9fad0dcada8947f02e42f7bc73ab7aefa92368c9ea1c4bf120cfada06c5c72c"
  }
}
