VMM/Workflows/n8n_crm_01_log_complaint.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vmm-log-complaint",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-9392, 2416],
      "id": "a2e5819d-8786-4fc1-b58a-cca693c2ac3f",
      "name": "Webhook - POST /vmm-log-complaint2",
      "webhookId": "vmm-log-complaint"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || {};\nconst esc = v => (v || '').toString().replace(/'/g, \"''\");\n\nconst storeCode     = esc(b.storeCode);\nconst empCode       = esc(b.employeeCode);\nconst empName       = esc(b.employeeName);\nconst empMobile     = esc(b.contactNumber);\nconst empDesig      = esc(b.designation || '');\nconst storeCity     = esc(b.city);\nconst storeRegion   = esc(b.region);\nconst stateName     = esc(b.state);\nconst storeName     = esc(b.storeName);\nconst storeEmail    = esc(b.storeEmail || '');\nconst managerName   = esc(b.managerName || '');\nconst managerMobile = esc(b.managerMobile || '');\nconst asmName       = esc(b.asmName || '');\nconst asmMobile     = esc(b.asmMobile || '');\nconst fmName        = esc(b.fmName || '');\nconst fmEmail       = esc(b.fmEmail || '');\nconst fmMobile      = esc(b.fmMobile || '');\nconst productName   = esc(b.productName);\nconst productType   = esc(b.productType || '');\nconst vendorName    = esc(b.vendorName);\nconst contractType  = esc(b.contractType || '');\nconst productLoc    = esc(b.productLocation);\nconst nature        = esc(b.natureOfComplaint);\nconst type          = esc(b.complaintType);\nconst description   = esc(b.description || '');\nconst vendorEmail   = esc(b.vendorEmail || '');\nconst tat           = parseInt(b.tatDays || 0);\nconst uid           = parseInt(b.uid || 1);\nconst source        = esc(b.source || 'Manual');\nconst emailSubject  = esc(b.emailSubject || '');\nconst callTxnId     = esc(b.callTxnId || '');\nconst emailMsgId    = esc(b.emailMessageId || '');\nconst emailFrom     = esc(b.emailFrom || '');\nconst emailTo       = esc(b.emailTo || '');\nconst remarks       = esc(b.remarks || 'Complaint logged');\n\nconst attachmentLinks = Array.isArray(b.attachmentLinks) ? b.attachmentLinks : [];\nconst attachmentText  = attachmentLinks.length\n  ? '\\n\\nAttachments:\\n' + attachmentLinks.map(a => `- ${a.name}: ${a.viewLink}`).join('\\n')\n  : '';\n\nconst edc = new Date();\nedc.setDate(edc.getDate() + tat);\nconst edcStr = edc.toISOString().split('T')[0];\n\nconst txnId = callTxnId || emailMsgId;\n\nconst insertStore = `INSERT INTO vmm_complaintstores (empid, empcode, empname, sourceofcomplaints, empmobileno, empdesignation, storeid, storecode, storename, storeemail, storecity, storeregion, statename, managername, managermobileno, asmname, asmmobileno, fmid, fmname, fmemail, fmmobileno, sourceofctxnid, sourceofcsubject, uid, created, updated, is_deleted) VALUES (0, '${empCode}', '${empName}', '${source}', '${empMobile}', '${empDesig}', 0, '${storeCode}', '${storeName}', '${storeEmail}', '${storeCity}', '${storeRegion}', '${stateName}', '${managerName}', '${managerMobile}', '${asmName}', '${asmMobile}', 0, '${fmName}', '${fmEmail}', '${fmMobile}', '${txnId}', '${emailSubject}', ${uid}, NOW(), NOW(), 'No')`;\n\nreturn [{ json: {\n  insertStore,\n  storeCode: b.storeCode || '',\n  empCode: b.employeeCode || '',\n  productName, productType, vendorName, contractType, productLoc, nature, type, description, vendorEmail, tat, uid, edcStr,\n  storeEmail: b.storeEmail || '',\n  storeName: b.storeName || '',\n  empName: b.employeeName || '',\n  source, emailSubject, emailFrom, emailTo,\n  remarks: remarks + attachmentText\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-9168, 2416],
      "id": "cbe9ba47-a33f-4e3c-b5cb-893a8246f547",
      "name": "Prepare Data2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.insertStore }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-8960, 2416],
      "id": "99d4cdec-5904-4039-818e-fdbccbe682ca",
      "name": "Insert Store Record2",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM vmm_complaintstores WHERE storecode='{{ $('Prepare Data2').first().json.storeCode }}' AND empcode='{{ $('Prepare Data2').first().json.empCode }}' ORDER BY id DESC LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-8736, 2416],
      "id": "97d91d35-bd9f-4384-ab42-bab381f7c8f0",
      "name": "Get Store Ref ID2",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const prev       = $('Prepare Data2').first().json;\nconst storeRow   = $input.first().json;\nconst storeRefId = storeRow.id || 0;\nconst esc = v => (v || '').toString().replace(/'/g, \"''\");\n\nconst insertComplaint = `INSERT INTO vmm_complaints (storerefid, productname, producttype, vendorname, contract_type, productlocation, natureofproblem, typeofcomplaint, description, tat, productid, vendorid, uid, created, updated, is_deleted) VALUES (${storeRefId}, '${esc(prev.productName)}', '${esc(prev.productType)}', '${esc(prev.vendorName)}', '${esc(prev.contractType)}', '${esc(prev.productLoc)}', '${esc(prev.nature)}', '${esc(prev.type)}', '${esc(prev.description)}', ${prev.tat}, 0, 0, ${prev.uid}, NOW(), NOW(), 'No')`;\n\nreturn [{ json: { insertComplaint, storeRefId, prev } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-8512, 2416],
      "id": "f1c68af0-c04a-45af-9c7a-5e9ab367f9eb",
      "name": "Build Complaint INSERT2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.insertComplaint }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-8288, 2416],
      "id": "28a5bda7-0985-4b7d-aaa4-e560dc426544",
      "name": "Insert Complaint2",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM vmm_complaints WHERE storerefid={{ $('Build Complaint INSERT2').first().json.storeRefId }} ORDER BY id DESC LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-8080, 2416],
      "id": "dc153a5c-d4f7-4f40-baae-f0d0cd14c0a6",
      "name": "Get Complaint ID2",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE vmm_referenceno SET lastno = lastno + 1 WHERE id = 1",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-7856, 2416],
      "id": "e86c1023-327a-4da5-b42f-d79fde96d6c2",
      "name": "Increment Ref No2",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lastno FROM vmm_referenceno WHERE id = 1",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-9376, 2784],
      "id": "5ca7955c-ac09-4f43-b4cc-3547b041827d",
      "name": "Get Ref No2",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const prev        = $('Build Complaint INSERT2').first().json;\nconst complaintId = $('Get Complaint ID2').first().json.id || 0;\nconst lastno      = $input.first().json.lastno || 0;\n\nconst now = new Date();\nconst yy  = String(now.getFullYear()).slice(-2);\nconst mm  = String(now.getMonth() + 1).padStart(2, '0');\nconst dd  = String(now.getDate()).padStart(2, '0');\nconst complaintno = yy + mm + dd + String(lastno);\n\nconst esc = v => (v || '').toString().replace(/'/g, \"''\");\nconst p = prev.prev;\n\nconst sourceLines = [\n  `Source: ${p.source || 'Manual'}`,\n  p.emailSubject ? `Email Subject: ${p.emailSubject}` : '',\n  p.emailFrom    ? `From: ${p.emailFrom}` : '',\n  p.emailTo      ? `To: ${p.emailTo}` : '',\n  '',\n  p.remarks || 'Complaint logged'\n].filter(Boolean).join('\\n');\n\nconst updateNo  = `UPDATE vmm_complaints SET complaintno = '${complaintno}' WHERE id = ${complaintId}`;\nconst insertLog = `INSERT INTO vmm_complaintlogs (complaintid, remarks, status, uid, created, is_deleted) VALUES (${complaintId}, '${esc(sourceLines)}', 'Logged', ${p.uid}, NOW(), 'No')`;\n\nreturn [{ json: { complaintId, complaintno, updateNo, insertLog, p } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-9152, 2784],
      "id": "c54ea8e1-f0f6-429b-a2c4-26f658dec250",
      "name": "Generate Complaint No2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $('Generate Complaint No2').first().json.updateNo }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-8944, 2784],
      "id": "01e339c3-69b3-4059-98b3-8d8e57e67b22",
      "name": "Update Complaint No2",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $('Generate Complaint No2').first().json.insertLog }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-8720, 2784],
      "id": "2c49b04b-28f6-4c29-bbf2-cb38951e99de",
      "name": "Insert Initial Log2",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM vmm_complaintlogs WHERE complaintid={{ $('Generate Complaint No2').first().json.complaintId }} ORDER BY id DESC LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-8720, 2784],
      "id": "e2432f22-051b-4a51-9ec7-5287ca6168ee",
      "name": "Get Log ID2",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const d   = $('Generate Complaint No2').first().json;\nconst p   = d.p;\nconst esc = v => (v || '').toString().replace(/'/g, \"''\");\n\nconst insertEsc = `INSERT INTO vmm_vendorescalations (complaintid, ticketno, escalationlevel, closuredate, vendoremail, uid, created, is_deleted) VALUES (${d.complaintId}, '', 1, '${p.edcStr}', '${esc(p.vendorEmail)}', ${p.uid}, NOW(), 'No')`;\n\nreturn [{ json: { insertEsc, complaintId: d.complaintId, complaintno: d.complaintno, p } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-8496, 2784],
      "id": "c26207dd-f275-424d-af88-875dab05dc26",
      "name": "Build Escalation INSERT3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.insertEsc }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-8272, 2784],
      "id": "1ab28ecd-8e1a-409b-92f3-2ea81d091e8a",
      "name": "Insert Escalation4",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const d = $('Build Escalation INSERT3').first().json;\nreturn [{ json: { success: true, complaintId: d.complaintId, complaintno: d.complaintno, edcDate: d.p.edcStr, message: 'Complaint logged successfully' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-8064, 2784],
      "id": "f9b38e68-1921-4586-82fc-c3d128734318",
      "name": "Build Response7"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-7840, 2784],
      "id": "1c3f3a3f-3ee2-4281-8f30-2d0b6868046a",
      "name": "Respond to Webhook27"
    }
  ],
  "connections": {
    "Webhook - POST /vmm-log-complaint2": { "main": [[{ "node": "Prepare Data2", "type": "main", "index": 0 }]] },
    "Prepare Data2": { "main": [[{ "node": "Insert Store Record2", "type": "main", "index": 0 }]] },
    "Insert Store Record2": { "main": [[{ "node": "Get Store Ref ID2", "type": "main", "index": 0 }]] },
    "Get Store Ref ID2": { "main": [[{ "node": "Build Complaint INSERT2", "type": "main", "index": 0 }]] },
    "Build Complaint INSERT2": { "main": [[{ "node": "Insert Complaint2", "type": "main", "index": 0 }]] },
    "Insert Complaint2": { "main": [[{ "node": "Get Complaint ID2", "type": "main", "index": 0 }]] },
    "Get Complaint ID2": { "main": [[{ "node": "Increment Ref No2", "type": "main", "index": 0 }]] },
    "Increment Ref No2": { "main": [[{ "node": "Get Ref No2", "type": "main", "index": 0 }]] },
    "Get Ref No2": { "main": [[{ "node": "Generate Complaint No2", "type": "main", "index": 0 }]] },
    "Generate Complaint No2": { "main": [[{ "node": "Update Complaint No2", "type": "main", "index": 0 }]] },
    "Update Complaint No2": { "main": [[{ "node": "Insert Initial Log2", "type": "main", "index": 0 }]] },
    "Insert Initial Log2": { "main": [[{ "node": "Get Log ID2", "type": "main", "index": 0 }]] },
    "Get Log ID2": { "main": [[{ "node": "Build Escalation INSERT3", "type": "main", "index": 0 }]] },
    "Build Escalation INSERT3": { "main": [[{ "node": "Insert Escalation4", "type": "main", "index": 0 }]] },
    "Insert Escalation4": { "main": [[{ "node": "Build Response7", "type": "main", "index": 0 }]] },
    "Build Response7": { "main": [[{ "node": "Respond to Webhook27", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "instanceId": "8442590b0e55dbd54e355747c7c925a75dfcef3563273e7cbd717163cbe23470" }
}
