VMM/Workflows/n8n_05_complaint_history.json
{
  "name": "VMM FU — Complaint History",
  "nodes": [
    {
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 352],
      "id": "fu05-node-0001",
      "name": "Webhook — GET /vmm-complaint-history",
      "webhookId": "vmm-complaint-history",
      "parameters": {
        "httpMethod": "GET",
        "path": "vmm-complaint-history",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      }
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nconst complaintId = parseInt(q.complaintId);\nif (!complaintId) return [{ json: { error: 'complaintId required' } }];\n\nconst sql = `SELECT 'escalation' AS record_type, id, escalationlevel, ticketno, closuredate AS edc, NULL AS remarks, NULL AS status, created FROM vmm_vendorescalations WHERE complaintid = ${complaintId} AND is_deleted='No' UNION ALL SELECT 'log' AS record_type, id, NULL AS escalationlevel, NULL AS ticketno, NULL AS edc, remarks, status, created FROM vmm_complaintlogs WHERE complaintid = ${complaintId} AND is_deleted='No' ORDER BY created ASC`;\n\nreturn [{ json: { sql, complaintId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 352],
      "id": "fu05-node-0002",
      "name": "Build History Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [680, 352],
      "id": "fu05-node-0003",
      "name": "Fetch History",
      "credentials": {
        "mySql": {
          "id": "VS3fKdoPCMa1Ik21",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst complaintId = $('Build History Query').first().json.complaintId;\n\nfunction bufStr(v) {\n  if (v == null) return null;\n  if (typeof v === 'object' && v.type === 'Buffer' && Array.isArray(v.data)) {\n    try { return new TextDecoder().decode(new Uint8Array(v.data)); } catch { return ''; }\n  }\n  return v;\n}\n\nconst escalations = rows\n  .filter(r => r.record_type === 'escalation')\n  .map(r => ({ id: r.id, escalationlevel: r.escalationlevel, ticketno: bufStr(r.ticketno), edc: r.edc, created: r.created }));\n\nconst logs = rows\n  .filter(r => r.record_type === 'log')\n  .map(r => ({ id: r.id, remarks: bufStr(r.remarks), status: bufStr(r.status), created: r.created }));\n\nreturn [{ json: { success: true, complaintId, escalations, logs } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 352],
      "id": "fu05-node-0004",
      "name": "Format History"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 352],
      "id": "fu05-node-0005",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook — GET /vmm-complaint-history": {
      "main": [[{ "node": "Build History Query", "type": "main", "index": 0 }]]
    },
    "Build History Query": {
      "main": [[{ "node": "Fetch History", "type": "main", "index": 0 }]]
    },
    "Fetch History": {
      "main": [[{ "node": "Format History", "type": "main", "index": 0 }]]
    },
    "Format History": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9fad0dcada8947f02e42f7bc73ab7aefa92368c9ea1c4bf120cfada06c5c72c"
  }
}
