VMM/Workflows/n8n_sp_04_delay_reasons.json
{
  "name": "VMM SP — Delay Reasons",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "vmm-sp-delay-reasons",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 352],
      "id": "b2c3d4e5-0004-0004-0004-000000000001",
      "name": "Webhook — GET /vmm-sp-delay-reasons",
      "webhookId": "vmm-sp-delay-reasons"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uzfGESr8kpQ_JKgkSOww2s3WxsH8y1U-YMvM8is31yE",
          "mode": "list",
          "cachedResultName": "VMM Master Data"
        },
        "sheetName": {
          "__rl": true,
          "value": "Delay Reason",
          "mode": "list",
          "cachedResultName": "Delay Reason"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 352],
      "id": "b2c3d4e5-0004-0004-0004-000000000002",
      "name": "Get Delay Reasons Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ltEEeRayxtB2S0lJ",
          "name": "Inder"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\n\nconst reasons = all\n  .map(item => ({\n    delayReason:    item.json['Delay Reason'] || '',\n    subDelayReason: item.json['Sub Delay Reason'] || '',\n  }))\n  .filter(r => r.delayReason !== '');\n\n// Group sub-reasons under each main reason\nconst grouped = {};\nfor (const r of reasons) {\n  if (!grouped[r.delayReason]) grouped[r.delayReason] = [];\n  if (r.subDelayReason) grouped[r.delayReason].push(r.subDelayReason);\n}\n\nreturn [{\n  json: {\n    success: true,\n    count: reasons.length,\n    reasons,\n    grouped\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 352],
      "id": "b2c3d4e5-0004-0004-0004-000000000003",
      "name": "Map Delay Reasons"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 352],
      "id": "b2c3d4e5-0004-0004-0004-000000000004",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook — GET /vmm-sp-delay-reasons": {
      "main": [[{ "node": "Get Delay Reasons Sheet", "type": "main", "index": 0 }]]
    },
    "Get Delay Reasons Sheet": {
      "main": [[{ "node": "Map Delay Reasons", "type": "main", "index": 0 }]]
    },
    "Map Delay Reasons": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9fad0dcada8947f02e42f7bc73ab7aefa92368c9ea1c4bf120cfada06c5c72c"
  }
}
