VMM/Workflows/n8n_crm_08_get_complaint.json
{
  "name": "VMM CRM - Get Complaint by Number",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "vmm-get-complaint",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "crm08-node-0001",
      "name": "Webhook - GET /vmm-get-complaint",
      "webhookId": "vmm-get-complaint"
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nconst complaintno = (q.complaintno || '').toString().replace(/'/g, \"''\").trim();\nif (!complaintno) return [{ json: { error: 'complaintno required' } }];\n\nconst sql = `\nSELECT\n  c.id          AS complaintid,\n  c.complaintno,\n  c.productname,\n  c.vendorname,\n  c.natureofproblem,\n  c.typeofcomplaint,\n  c.productlocation,\n  cs.storecode,\n  cs.storename,\n  cs.storeemail,\n  cs.fmname,\n  cs.fmemail,\n  cs.fmmobileno,\n  cs.storeregion,\n  cs.statename,\n  cs.storecity,\n  ve.closuredate AS edcdate,\n  cl.status      AS current_status,\n  cl.remarks\nFROM vmm_complaints c\nJOIN vmm_complaintstores cs ON cs.id = c.storerefid\nLEFT JOIN vmm_vendorescalations ve\n  ON ve.complaintid = c.id\n  AND ve.id = (SELECT MAX(id) FROM vmm_vendorescalations WHERE complaintid = c.id)\nLEFT JOIN vmm_complaintlogs cl\n  ON cl.id = (SELECT MAX(id) FROM vmm_complaintlogs WHERE complaintid = c.id)\nWHERE c.complaintno = '${complaintno}'\n  AND c.is_deleted = 'No'\nLIMIT 1`;\n\nreturn [{ json: { sql, complaintno } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "crm08-node-0002",
      "name": "Build Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [680, 300],
      "id": "crm08-node-0003",
      "name": "Query Complaint",
      "credentials": { "mySql": { "id": "VS3fKdoPCMa1Ik21", "name": "MySQL account" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nif (!rows.length) return [{ json: { success: false, error: 'Complaint not found' } }];\nconst r = rows[0];\nreturn [{ json: { success: true, complaint: r } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "crm08-node-0004",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "id": "crm08-node-0005",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook - GET /vmm-get-complaint": { "main": [[{ "node": "Build Query",       "type": "main", "index": 0 }]] },
    "Build Query":                       { "main": [[{ "node": "Query Complaint",   "type": "main", "index": 0 }]] },
    "Query Complaint":                   { "main": [[{ "node": "Format Response",   "type": "main", "index": 0 }]] },
    "Format Response":                   { "main": [[{ "node": "Respond",           "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9fad0dcada8947f02e42f7bc73ab7aefa92368c9ea1c4bf120cfada06c5c72c"
  }
}
