VMM/Workflows/n8n_email_07_fetch_sent.json
{
  "name": "VMM Email - Fetch Sent",
  "nodes": [
    {
      "parameters": {
        "path": "vmm-fetch-sent",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-64, 32],
      "id": "dc04dcbe-11d2-4887-b184-3eaadd3f21a7",
      "name": "Webhook - GET /vmm-fetch-sent",
      "webhookId": "vmm-fetch-sent"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 50,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filters": {
              "foldersToInclude": [
                "AQMkADA5NTJlMDk5AC1jYjZjLTQxYzItOThiYy01MmI5Y2FjZDA3ZjQALgAAA7dZXXVRlb1KoAteory3XIkBADq7RADXZ_xHhV1DodJn93wAAAIBCQAAAA=="
              ]
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [160, 32],
      "id": "e81802fe-15ea-4f4f-908d-4f2e8225b575",
      "name": "Get Sent Emails",
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "ZaZUH3dJiLPRt7BX", "name": "VMM2" }
      }
    },
    {
      "parameters": {
        "jsCode": "const emails = $input.all().map(i => {\n  const m = i.json;\n\n  const fromAddr = m.from?.emailAddress?.address || '';\n  const fromName = m.from?.emailAddress?.name    || fromAddr;\n\n  const toArray = (m.toRecipients || []).map(r => r.emailAddress?.address || '').filter(Boolean);\n  const ccArray = (m.ccRecipients || []).map(r => r.emailAddress?.address || '').filter(Boolean);\n  const toDisplay = toArray.join(', ');\n  const ccDisplay = ccArray.join(', ');\n\n  const rawHtml = m.body?.content || m.bodyPreview || '';\n  const body = rawHtml\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n    .replace(/\\s{3,}/g, '\\n\\n').trim();\n\n  const allAddrs = [fromAddr, ...toArray, ...ccArray];\n  let storeCode = null;\n  for (const addr of allAddrs) {\n    const hit = addr.match(/([A-Z]{2}\\d{2,3})\\.s[m]@/i);\n    if (hit) { storeCode = hit[1].toUpperCase(); break; }\n  }\n  if (!storeCode) {\n    const hit = (m.subject || '').match(/\\b([A-Z]{2}\\d{2,3})\\b/);\n    if (hit) storeCode = hit[1].toUpperCase();\n  }\n  if (!storeCode) {\n    const hit = body.match(/\\(([A-Z]{2}\\d{2,3})\\)/);\n    if (hit) storeCode = hit[1].toUpperCase();\n  }\n\n  const subject = m.subject || '';\n  let complaintId = null;\n  const cMatch = subject.match(/\\[([A-Z]{0,4}-?\\d{8,})\\]/) || subject.match(/ticket\\s+([A-Z]{0,4}-?\\d{8,})/i);\n  if (cMatch) complaintId = cMatch[1];\n\n  let emailType = 'general';\n  const isToHelpdesk = [...toArray, ...ccArray].some(a => a.toLowerCase().includes('vmm') || a.toLowerCase().includes('helpdesk'));\n  if (complaintId)       emailType = 'complaint-reply';\n  else if (isToHelpdesk) emailType = 'new-complaint';\n\n  return {\n    id: m.id, conversationId: m.conversationId || '',\n    subject, fromAddr, fromName,\n    fromDisplay: fromName !== fromAddr ? `${fromName} <${fromAddr}>` : fromAddr,\n    toDisplay, ccDisplay, toArray, ccArray,\n    storeCode, complaintId, emailType,\n    sentAt: m.sentDateTime || m.receivedDateTime || '',\n    receivedAt: m.sentDateTime || m.receivedDateTime || '',\n    bodyPreview: body.slice(0, 250),\n    body: body.slice(0, 10000),\n    hasStoreCode: !!storeCode,\n  };\n});\nreturn [{ json: { success: true, count: emails.length, emails } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [368, 32],
      "id": "4ce100e2-70bd-4509-a8d9-d95e85958236",
      "name": "Format Sent List"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [592, 32],
      "id": "9f0402e2-8ea8-4053-8b40-937b63bd4681",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook - GET /vmm-fetch-sent": { "main": [[{ "node": "Get Sent Emails",   "type": "main", "index": 0 }]] },
    "Get Sent Emails":               { "main": [[{ "node": "Format Sent List",  "type": "main", "index": 0 }]] },
    "Format Sent List":              { "main": [[{ "node": "Respond",           "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9fad0dcada8947f02e42f7bc73ab7aefa92368c9ea1c4bf120cfada06c5c72c"
  }
}
